<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jumper-stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,90},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{42,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,46},{42,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{42,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
            <key>Jumper-stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{46,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stand.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f683f78e695494278f5e20e5c26a9010:f626154469f463116aa1bd25e1a7f53e:1e674ececfeb72fdfdcf621c36ee6855$</string>
            <key>textureFileName</key>
            <string>stand.png</string>
        </dict>
    </dict>
</plist>
