<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{48,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{44,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bot.png</string>
            <key>size</key>
            <string>{288,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c53d53f0a238fdde50d37e7d88be809e:2ab7a9464e630fbe8616ca422fd94676:6bd802fdc8c849dbecdbd8cb4d50fc60$</string>
            <key>textureFileName</key>
            <string>bot.png</string>
        </dict>
    </dict>
</plist>
